# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Data files
data/*.db
.DS_Store

# Environment variables
.env

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
*.DS_Store
